body {
    width: 100%;
}



.wrapper-banner {
    height: 3rem;
    width: 100vw;
    background-color: rgb(20, 27, 37);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    opacity: 0.9;


}

.logo {
    justify-content: center;
}

h1 {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: x-large;
    color: white;
    padding-left: 5px;

}


button+.menu {
    display: none;
    opacity: 0;
    visibility: hidden;
}

button.menu-open+.menu {
    display: block;
    opacity: 1;
    visibility: visible;
}

#menu-button {

    font-family: 'Poppins', sans-serif;
    color: rgb(172, 120, 56);
    background-color: rgb(20, 27, 37);
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding-right: 1rem;


}

.menu {
    font-family: 'Poppins', sans-serif;
    padding-right: 1rem;
    padding-top: 7rem;


}

.menu:hover {
    color: rgb(172, 120, 56);
}


.welcome-container {

    background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
        url(welcome.jpg);
    width: 100vw;
    height: 844px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.welcome-container-content {
    width: 370px;

    border-left: 2px solid rgb(191, 146, 91);
    padding-left: 3rem;

}


h2 {
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.solid-white {
    color: white;
    font-size: 2rem;
    margin-top: 0%;

}

.solid-white::first-line {
    color: rgb(191, 146, 91);
    font-size: large;
}

.invert-text {
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

.welcome-text {
    font-family: 'Poppins', sans-serif;
    color: white;
    padding-bottom: 2rem;

}

.button {
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: rgb(191, 146, 91);
    text-decoration: none;
    padding: 0.7em 1.5em;
    border: 2px solid rgb(191, 146, 91);


}

.button:hover {
    background-color: rgb(235, 232, 222);
}



.services-wrapper {
    display: flex;
    flex-direction: column;
}

.column-service {
    height: 350px;
    width: 100vw;
    background-color: rgb(191, 146, 91);

}

.column-service-2 {
    height: 350px;
    width: 100vw;
    background-color: rgb(172, 120, 56);
}

h3 {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: x-large;
    color: white;
}

.service-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;


}



.klipp {
    height: 140px;
    margin-top: -120px;

}

.about-wrapper {
    width: 100vw;
    height: 844px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
}

.stol-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    /*margin-bottom: 1rem;*/

}

.stol {
    height: 400px;
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 1rem;
}

.about-gold {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: medium;
    color: rgb(191, 146, 91);
    margin-bottom: 1rem;
}

.about-black {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: x-large;
    text-transform: uppercase;
    color: rgb(20, 27, 37);
    margin-top: 0%;
    margin-bottom: 1rem;

}

.about-text {
    font-family: 'Poppins', sans-serif;
    color: rgb(20, 27, 37);
    width: 400px;
    text-align: left;
}

.award {
    height: 3rem;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 01.5rem;
    background-color: rgb(191, 146, 91);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.award-text {
    padding-left: 1rem;
    color: white;
}

.award-20 {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: x-large;
    margin-bottom: 0%;
}

.award-exp {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: small;
    margin-top: 0%;
}

.testimonial-wrapper {
    height: fit-content;
    width: 100vw;
    padding-bottom: 3rem;
    padding-top: 3rem;
    background-color: rgb(235, 232, 222);

    display: flex;
    flex-direction: column;
    align-items: center;





}

.test-title {
    text-align: center;

}



.person-wrapper {
    display: flex;
    flex-direction: column;
}

.review {
    height: 200px;
    width: 320px;
    background-color: white;
    margin-top: 2rem;
    font-family: 'Poppins', sans-serif;
    font-size: small;
    margin-left: 1rem;
    margin-right: 1rem;

}

.circle {
    width: 2rem;
    height: 2rem;
    background-color: rgb(172, 120, 56);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -15px;
    margin-left: 2rem;
}

.quote {
    color: white;
}

.stars {
    color: rgb(172, 120, 56);
}

cite {
    color: rgb(172, 120, 56);
}

.person-info {
    display: flex;
}

.person-img {
    width: 60px;
    padding-left: 2rem;
    padding-right: 0.5rem;
}

.footer-wrapper {
    background-color: rgb(20, 27, 37);
    height: fit-content;
    width: 100vw;
    display: flex;
    flex-direction: column;

}

.footer-content {

    padding: 2rem;
    font-family: 'Poppins', sans-serif;
    font-size: small;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.brands,
#brands {
    color: rgb(172, 120, 56);
}

p {
    margin-top: 0%;

}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    color: white;

}

a {
    color: white;
    text-decoration: none;

}

a:hover {
    color: rgb(172, 120, 56);
}














@media screen and (min-width:800px) {

    .services-wrapper {

        flex-direction: row;
        width: 1fr 1fr 1fr 1fr;

    }

    .about-wrapper {
        flex-direction: row;
        width: 1fr 1fr;
        height: fit-content;

    }

    .stol-container {
        padding-left: 20%;
    }

    .person-wrapper {

        flex-direction: row;
    }

    .testimonial-wrapper {
        flex-direction: column;
    }

    .footer-wrapper {
        flex-direction: row;
        justify-content: center;
    }