.wrapper-banner {
    height: 3rem;
    width: 100vw;
    background-color: rgb(20, 27, 37);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    justify-content: center;
}

h1 {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: x-large;
    color: white;
    padding-left: 5px;

}

.menu-button {

    font-family: 'Barlow Semi Condensed', sans-serif;
    text-transform: uppercase;
    color: wheat;
    padding-right: 5px;
}

.welcome-container {

    background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
        url(welcome.jpg);
    width: 100vw;
    height: 844px;
    display: flex;
    /*flex-direction: column;*/
    justify-content: center;
    align-items: center;
    /*position: absolute;*/

}

.welcome-container-content {
    width: 370px;
    border-left: 2px solid rgb(191, 146, 91);
    padding-left: 3rem;

}

h2 {
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.solid-small {
    color: rgb(191, 146, 91);
    margin-bottom: 0%;
}

.solid-white {
    color: white;
    font-size: 2rem;
    margin-top: 0%;

}

.invert-text {
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

.welcome-text {
    font-family: 'Poppins', sans-serif;
    color: white;
    padding-bottom: 2rem;

}

.button {
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: rgb(191, 146, 91);
    border-color: rgb(191, 146, 91);
    text-decoration: none;
    padding: 0.7em 1.5em;
    border: 2px solid rgb(191, 146, 91);

}

.services-wrapper {
    display: flex;
    flex-direction: column;
}

.column-service {
    height: 350px;
    width: 100vw;
    background-color: rgb(191, 146, 91);
    border: 2px solid black;



}

h3 {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: x-large;
    color: white;
}

.service-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

img {
    height: 140px;
    margin-top: -120px;


}


@media screen and (min-width:800px) {

    .services-wrapper {

        flex-direction: row;
        width: 1fr 1fr 1fr 1fr;

    }
}